{% extends "base.html" %}
{% block title %}{{ p.address }}{% endblock %}
{% block body %}
    <div class="property-details-container">
        <h2>{{ p.address }}</h2>
        <p>
            <b>Case Number: </b>{{ p.case_number }}<br>
            <b>Address: </b>{{ p.address }}<br>
            <b>Declared Date: </b>{{ p.declared_date|date:"m/d/Y" }}<br>
            <b>Ward: </b>{{ p.ward_number }}<br>
            <b>Parcel Number: </b>{{ p.parcel_number }}<br>
            <b>Coordinates: </b>({{ p.latlon.coords.1 }}, {{ p.latlon.coords.0 }})
        </p>
    </div>
{% endblock %}