{% extends "base.html" %}
{% block title %}Property List{% endblock %}
{% block body %}
    <ul class="list-group neighborhood-list">
    {% for p in property_list %}
        <li class="list-group-item list-group-item-action">
            <b><a href="{% url "property" p.id %}">{{ p.case_number }}</a></b>: {{ p.address }}<br>
            <small>Declared {{ p.declared_date|date:"m/d/Y" }}</small>
        </li>
    {% endfor %}
    </ul>
    <br>
    <nav>
        <ul class="pagination">
            {% for i in property_list.paginator.page_range %}
                {% if i == property_list.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>


{% endblock %}