{% extends "base.html" %}
{% load static %}

{% block title %}Map{% endblock %}

{% block body %}
<div id="curaddress"></div>
<div id="mappy"></div>
<script>
    function getMarkers(mymap) {
        var markers_list = [];
        propertyMarker = L.Marker.extend({
                options: {
                    address: "",

                }
            }
        );
        {% for p in property_list %}
            var curMarker = new propertyMarker([{{ p.lat }}, {{ p.lon }}]).addTo(mymap);
            curMarker.options.address = "{{ p.address }}";
            markers_list.push(curMarker);
        {% endfor %}
        return markers_list;
    }

    function getGeoJson() {
        return {{ properties_geojson|safe }};
    }

    function getNeighborhoodsGeoJson() {
        return {{ neighborhoods_geojson|safe }};
    }

</script>
<script src="{% static "/scripts/map.js" %}"></script>
{% endblock %}