{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <style>
        #mapid {
            height: 800px;
        }

        #mapp {
            height: 800px;
        }
    </style>
</head>
<body>
<h2>test</h2>

<div id="curaddress"></div>
<div id="mappy"></div>

<script src="https://fb.me/react-15.0.1.js"></script>
<script src="https://fb.me/react-dom-15.0.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script>
    function getMarkers(mymap) {
        var markers_list = [];
        propertyMarker = L.Marker.extend({
                options: {
                    address: "",

                }
            }
        );
        {% for p in property_list %}
            var curMarker = new propertyMarker([{{ p.lat }}, {{ p.lon }}]).addTo(mymap);
            curMarker.options.address = "{{ p.address }}";
            markers_list.push(curMarker);
        {% endfor %}
        return markers_list;
    }

    function getGeoJson() {
        return {{ geojson|safe }};
    }

</script>
<script type="text/babel" src="{% static "/scripts/map.js" %}"></script>
</body>
</html>