{% extends "base.html" %}
{% load static %}

{% block title %}Neighborhood List{% endblock %}

{% block body %}
<ul>
    {% for n in neighborhood_list %}
        <li>
            <a href="../neighborhood/{{ n.id }}"><b>{{ n.name }}</b></a> ({{ n.type }})
            <ul>
                <li>{{ n.boundary_area }} acres</li>
                <li>{{ n.properties_count }} abandoned properties</li>
                <li>{{ n.properties_per_acre }} per acre</li>
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}