{% extends "base.html" %}
{% load static %}

{% block title %}Search{% endblock %}

{% block js_css_head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block body %}
<form action="../doneighborhoodsearch/" method="GET">
    <div class="ui-widget">
        <label for="tags">Tags: </label>
        <input id="tags" name="neighborhood_name">
    </div>
</form>
{% endblock %}

{% block bottom_scripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            var availableTags = [
                {% for n in neighborhood_list %}
                    "{{ n.name | safe }}",
                {% endfor %}
            ];
            $("#tags").autocomplete({
                source: availableTags
            });
        });
    </script>
{% endblock %}