.full-page-map {
    height: calc(100% - 3.5rem);
    padding: 0px;
}

.individual-property-map {
    height: 24rem;
    max-width: 800px;
}

.individual-neighborhood-map {
    height: 24rem;
    max-width: 800px;
    margin-top: 15px;
}

.searchbox {
    margin: 15px;
}


/* necessary for leaflet % sizing to work right! */
html, body {
    height: 100%;
}

/* neighborhood list */
.neighborhood-list {
    margin: 15px;
}

.neighborhood-list-details {
    margin-top: 10px;
}

.list-group {
    display: inline-block;
}

.property-count-pill {
    background-color: red;
}

/* property details */
.property-details-container {
    margin: 15px;
}

/* neighborhood details */
.neighborhood-details-container {
    margin: 15px;
}