#mappy {
    height: calc(100% - 3.5rem);
    padding: 0px;
}

.searchbox {
    margin: 15px;
}


/* necessary for leaflet % sizing to work right! */
html, body {
    height: 100%;
}

/* neighborhood list */
.neighborhood-list {
    margin: 15px;
}

.neighborhood-list-details {
    margin-top: 10px;
}

.list-group {
    display: inline-block;
}

.property-count-pill {
    background-color: red;
}